.premium-marks-page-section {
  @include section-mark(0, 0, auto, auto, 570px);
  @include overlay-bg('../images/finance/bg.jpg');

  .radial-overlay {
    padding: 110px 96px;

    @media (max-width: $breakpoint-laptop-xl) {
      padding-right: 64px;
      padding-left: 64px;       
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 50px 0;
    }
  }

  .section-mark {
    &.left {
      left: 0;
      right: auto;
      top: 50%;
      bottom: auto;
      height: 800px;
      transform: translateY(-50%)
    }

    &.bottom {
      bottom: 0;
      top: auto;
      height: 400px
    }
  }

  .container {
    .text-in-border-box {
      @extend %horizontal-center;
      margin: 0 16px;
    }

    .text-in-border {
      margin: 0 auto;
      margin-bottom: 110px;

      @media (max-width: $breakpoint-tablet) {
        margin-bottom: 40px;
      }

      &:before, &:after {
        width: 100%;
        transform: none;
      }

      .subtitle {
        max-width: 620px;
        margin-top: 10px;
        color: $color-gray;
      }

      .title {
        @extend %text-h4;
        max-width: 670px;
        font-weight: bold;
      }
    }
  }
}
