.offer-section {
  @include section-mark();
  @extend %section-padding;
  padding-top: 40px;

  @media (max-width: $breakpoint-tablet) {
    padding-right: 0;
    padding-left: 0; 
  }

  .section-mark.black {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    height: 90px;
    background-color: #000;
  }

  .container {
    .title-box {
      margin-bottom: 72px;

      @media (max-width: $breakpoint-laptop-xl) {
        margin-bottom: 50px;
      }

      .eyebrow {
        @extend %text-eyebrow-small;
        display: block;
        margin-bottom: 12px;
        color: $color-black;
      }

      .subtitle {
        @extend %text-h4;
        max-width: 330px;
        margin-bottom: 16px;
        color: $color-black;
      }

      .title {
        @extend %text-h2;
        max-width: 540px;
      }
    }

    .info {
      @extend %vertical-center;

      @media (max-width: $breakpoint-desktop) {
        justify-content: space-between;
      }

      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
      }

      .img-box, .text-box {
        width: 50%;

        @media (max-width: $breakpoint-tablet) {
          width: 100%;
        }
      }

      .text-box {
        max-width: 430px;

        @media (max-width: $breakpoint-laptop-xl) {
          max-width: 100%;
          padding-left: 36px;
        }

        @media (max-width: $breakpoint-tablet) {
          padding-left: 0;
          padding-top: 36px;
        }

        .title {
          @extend %text-h5;
          margin-bottom: 24px;
          color: $color-black;
        }

        .text {
          @extend %text-body;
          margin-bottom: 16px;
          color: $color-gray;
        }
      }

      .img-box {
        position: relative;
        height: 512px;
        width: 55%;

        @media (max-width: $breakpoint-tablet) {
          height: 300px;
          width: 100%;
        }

        img {
          position: absolute;
          right: 0;
          height: 100%;
          width: 55vw;
          max-width: 55vw;
          object-fit: cover;

          @media (max-width: $breakpoint-tablet) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    .title-box, .info .text-box {
      margin-left: 112px;

      @media (max-width: $breakpoint-desktop) {
        margin-left: 0;
        padding-left: 24px;
      }
      
      @media (max-width: $breakpoint-tablet) {
        padding-right: 24px;
      }
    }
  }
}