.premium-marks-section {
  @include section-mark(0, auto, auto, 0, 200px);
  background-image: url('../images/home-page/premium.jpg');
  background-size: cover;

  .radial-overlay {
    @extend %section-padding;
    padding-top: 80px;
    padding-bottom: 55px;

    @media (max-width: $breakpoint-tablet) {
      padding-top: 50px;
    }
  }

  .container {
    .title-box {
      .eyebrow {
        @extend %text-eyebrow-small;
        display: block;
        margin-bottom: 60px;
        color: $color-light-sand;

        @media (max-width: $breakpoint-tablet) {
          margin-bottom: 36px;
        }
      }
    }

    .info-text-box {
      display: flex;
      justify-content: flex-end;
      margin: 40px 0 80px;

      .info {
        max-width: 560px;

        .title {
          @extend %text-h5;
          color: $color-white;
          margin-bottom: 24px;
        }

        .text {
          @extend %text-body;
          color: $color-white;
          margin-bottom: 24px;
        }
      }
    }
  }
}
