html.overflow, body.overflow {
  overflow-y: hidden;
}

.navigation {
  padding-left: 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: ease 0.3s;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 16px;
  }

  &.fixed {
    background-color: rgba($color: #000, $alpha: 0.8);
    backdrop-filter: blur(20px)
  }

  &.light {
    background-color: $color-white;
    border-bottom: 1px solid rgba($color: $color-gray, $alpha: 0.3);

    .container {
      .logo {
        .light {
          display: block;
        }
  
        .dark {
          display: none;
        }
      }

      .navigation-links .link {
        color: $color-black;
      }

      .burger-menu-btn {
        background-color: $color-black;
        border-color: $color-black;
        cursor: pointer;
      }
    }
  }

  .container {
    @extend %vertical-center;
    max-width: 100%;
    justify-content: space-between;

    .logo {
      width: 180px;
      padding: 20px 0;

      @media (max-width: $breakpoint-tablet) {
        width: 100px;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      .light {
        display: none;
      }
    }

    .navigation-links {
      @include row-grid(42px);

      @media (max-width: $breakpoint-desktop) {
        display: none;
      }

      .link {
        @extend %text-eyebrow;
        display: block;
        padding-bottom: 14px;
        color: $color-white;
        border-bottom: 1px solid transparent;
        transition: ease 0.2s;

        &.active, &:hover {
          color: $color-light-sand;
          border-color: $color-light-sand;
        }
      }
    }

    .burger-menu-btn {
      @extend %full-center;
      padding: 0;
      width: 96px;
      min-height: 96px;
      border: 1px solid $color-light-sand;
      cursor: pointer;
      transition: ease 0.3s;

      &.is-active {
        // background-color: $color-blue;
        // border-color: $color-blue;
  
        .hamburger-inner {
          transform: translate3d(0, 5px, 0) rotate(45deg);
  
          &, &:before, &:after {
            // background-color: $color-white;
          }
  
          &:after {
            transform: translate3d(0, -10px, 0) rotate(-90deg);
          }
        }
      }

      @media (max-width: $breakpoint-tablet) {
        width: 52px;
        min-height: 100%;
        align-self: stretch;
      }
  
      &:hover {
        opacity: 1;
      }
  
      .hamburger-box {
        width: 27px;
        height: 12px;
      }
  
      .hamburger-inner {
        &, &:before, &:after {
          width: 27px;
          height: 2px;
          background-color: $color-light-sand;
        }
  
        &:before {
          top: 5px;
        }
  
        &:after {
          top: 10px;
        }
      }
    }
  }

  .full-screen-nav {
    @include full-absolute-bleed;
    position: fixed;
    min-height: 100vh;
    z-index: 12000;
    display: none;
    clip-path: inset(0 0 100% 0);
    transition: ease 0.5s;
    pointer-events: none;

    &.open {
      clip-path: inset(0 0 0 0);
      pointer-events: all;
    }

    .bg-image {
      @include full-absolute-bleed;
      z-index: 0;
      min-height: 100vh;
      filter: grayscale(1);

      .swiper-slide img {
        height: 100%;
        object-fit: cover;
        min-width: 100%;
      }
    }

    .colorful-img {
      @include full-absolute-bleed;
      z-index: 2;
      min-height: 100vh;
      clip-path: inset(22% 37% 22% 37%);

      @media (max-width: $breakpoint-laptop) {
        display: none;
      }

      .swiper-slide img {
        height: 100%;
        object-fit: cover;
        min-width: 100%;
      }
    }

    .bg-image, .colorful-img {
      @include full-absolute-bleed;
      min-height: 100vh;
      max-height: 100vh;
      width: 100%;
      object-fit: cover;
    }

    .links-box {
      @extend %full-center;
      position: relative;
      z-index: 1;
      width: 50%;
      height: 100%;
      padding: 40px;
      background-color: rgba($color: $color-sand, $alpha: 0.68);

      @media (max-width: $breakpoint-laptop) {
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }

      @media (max-width: $breakpoint-laptop) {
        padding-top: 20px;
      }

      @media (max-width: $breakpoint-tablet) {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 10px;
      }

      .logo {
        position: absolute;
        top: 40px;
        left: 40px;
        max-width: 180px;

        @media (max-width: $breakpoint-laptop) {
          position: static;
        }

        @media (max-width: $breakpoint-tablet) {
          width: 100px;
        }
      }

      .navigation-links {
        display: grid;
        gap: 40px;

        @media (max-width: $breakpoint-laptop) {
          gap: 16px; 
        }

        .link {
          @extend %text-eyebrow;
          display: inline-block;
          padding-bottom: 10px;
          color: $color-white;
          border-bottom: 1px solid transparent;
          transition: ease 0.2s;

          &.active, &:hover {
            border-color: $color-white;
          }
        }
      }

      .info {
        display: none;

        @media (max-width: $breakpoint-laptop) {
          display: grid;
        }
      }
    }

    .right-side {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 50%;
      position: relative;
      z-index: 1;
      background-color: rgba($color: #000000, $alpha: 0.6);

      @media (max-width: $breakpoint-laptop) {
        width: 0;
      }

      .close-icon {
        @extend %full-center;
        position: absolute;
        top: 0;
        right: 0;
        width: 96px;
        height: 96px;
        background-color: $color-light-sand;
        cursor: pointer;

        @media (max-width: $breakpoint-tablet) {
          width: 52px;
          height: 52px;
        }
      }

      .info {
        display: grid;

        @media (max-width: $breakpoint-laptop) {
          display: none;
        }
      }
    }

    .right-side, .links-box {
      .info {
        gap: 28px;
        padding-bottom: calc(22% + 10px);
        padding-right: 132px;

        @media (max-width: $breakpoint-desktop) {
          padding-right: 64px;
        }

        @media (max-width: $breakpoint-laptop) {
          padding: 0;
        }

        .location, .contacts {
          span {
            display: block;
          }
        }

        .location, .contacts {
          @extend %text-eyebrow-small;
          font-weight: 400;
          text-transform: initial;
        }

        .location {
          color: rgba($color: $color-white, $alpha: 0.6);
        }

        .contacts {
          color: $color-white;
        }

        .socials {
          display: flex;

          .social-link {
            @extend %vertical-center;

            &:first-child {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
