.gallery-grid-section {
  max-width: 1728px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;

  .img-box {
    position: relative;
    display: block;

    &:hover {
      .car {
        filter: grayscale(0);
      }

      .text-box .arrow {
        opacity: 1;
      }
    }

    .car {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      filter: grayscale(1);
      object-fit: cover;
      transition: ease 0.3s;
    }

    .text-box {
      @extend %vertical-center;
      justify-content: space-between;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding: 20px 30px;

      .text {
        @extend %text-18;
        display: block;
        color: $color-white;
        text-transform: uppercase;
      }

      .arrow {
        opacity: 0;
        transition: ease 0.3s;
      }
    }
  }

  .col {
    display: grid;
    gap: 110px;
    width: 50%;

    @media (max-width: $breakpoint-laptop-xl) {
      gap: 40px;
    }

    @media (max-width: $breakpoint-tablet) {
      gap: 0;
    }

    &:first-child {
      margin-right: 16px;

      @media (max-width: $breakpoint-tablet) {
        margin-right: 0;
      }

      .img-box {
        height: 550px;

        @media (max-width: $breakpoint-laptop-xl) {
          height: 400px;
        }
        
        &:first-child, &:nth-child(4n) {
          max-height: 616px;
        }

        &:nth-child(2), &:nth-child(5) {
          max-width: 464px;
          margin-left: auto;
          margin-right: 100px;

          @media (max-width: $breakpoint-laptop-xl) {
            margin-right: 40px;
          }

          @media (max-width: $breakpoint-tablet) {
            margin-right: 0;
          }
        }

        &:nth-child(3) {
          margin-right: 100px;

          @media (max-width: $breakpoint-laptop-xl) {
            margin-right: 40px; 
          }

          @media (max-width: $breakpoint-tablet) {
            margin-right: 0;
          }
        }
      }
    }

    &:last-child {
      padding-top: 290px;

      @media (max-width: $breakpoint-laptop-xl) {
        padding-top: 40px;     
      }

      @media (max-width: $breakpoint-tablet) {
        padding-top: 0;
      }

      .img-box {
        height: 550px;

        @media (max-width: $breakpoint-laptop-xl) {
          height: 400px;
        }
        
        &:nth-child(2), &:nth-child(5n) {
          max-height: 616px;
        }

        &:nth-child(1), &:nth-child(4) {
          margin-left: 100px;

          @media (max-width: $breakpoint-laptop-xl) {
            margin-left: 40px; 
          }

          @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          margin-left: 100px;
          margin-right: auto;
          max-width: 464px;

          @media (max-width: $breakpoint-laptop-xl) {
            margin-left: 40px; 
          }

          @media (max-width: $breakpoint-tablet) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
