$color-sand: #B58550;
$color-light-sand: #C49A6C;
$color-white: #fff;
$color-black: #111010;
$color-gray: #707070;

$breakpoint-desktop-xl: 1919px;
$breakpoint-desktop: 1439px;
$breakpoint-laptop-xl: 1135px;
$breakpoint-laptop: 991px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 399px;

